@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
  width: fit-content;
  margin-top: 150px;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px #4d5252;
}


